/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

/* -------------------------------------------------- */

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

h2 {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.paticka {
  text-align: center;
  font-size: 14px;
  color: silver;
}

.paticka a {
  color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.body {
  color: white;
  background-repeat:no-repeat;
}


.recept {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90px;
  padding: 0.5rem;
  color: white;
  background-size: cover;
  background-position: center;
  border-bottom: 0.1rem solid #ffffff;
}

.hlavni-recept {
  background-image: linear-gradient(
      to left top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 0%
    ),
    url("images/burger.jpg");
  background-size: 100%;
  background-position: center;
  color: white;
  min-height: 200px;
  padding: 0.5rem;
  border-bottom: 0.1rem solid #ffffff;
  background-repeat: no-repeat;

}

.recept-nazev-hlavni{
  margin-top: 6rem;
}

.recept-meta {
  display: flex;
  font-size: 1.2rem;
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.recept-komentare {
  display: flex;
  margin-left: auto;
}

.recept2 {
  background-image: linear-gradient(
      to left top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 0%
    ),
    url("images/sushi.jpg");
    border-bottom: 0.1rem solid #ffffff;
    background-repeat: no-repeat;
}

.recept-nazev {
  display: flex;
  align-items: stretch;
  margin: 0;
  font-size: 1.75rem;
}

.hlavni-recept {
  min-height: 200px;
}

.recept3 {
  background-image: linear-gradient(
      to left top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 0%
    ),
    url("images/rajcata.jpg");
    border-bottom: 0.1rem solid #ffffff;
    background-repeat: no-repeat;
}

.recept4 {
  background-image: linear-gradient(
      to left top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 0%
    ),
    url("images/kure.jpg");
    border-bottom: 0.1rem solid #ffffff;
    background-repeat: no-repeat;
}

.recept5 {
  background-image: linear-gradient(
      to left top,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 0%
    ),
    url("images/grilovani.jpg");
    border-bottom: 0.1rem solid #ffffff;
    background-repeat: no-repeat;
}


@media (min-width: 480px) {

.recepty {
  display: flex;
  flex-wrap: wrap;
}

.sloupec {
  flex-direction: column;
  width: 100%;
  ;
}

.recept2,
.recept3,
.recept4,
.recept5 .sloupec {
  display: flex;
  flex-direction: column;
  border-right: 0.1rem solid #ffffff;
}

.sloupec {
  display: flex;
  flex-direction: row;
}


.sloupec .recept {
  width: 50%;
}

.hlavni-recept {
  width: 100%;

}

.recept-nazev-hlavni{
  margin-top: 10rem;
}

 
@media (min-width: 860px) {
  .doporucujeme { 
   display: flex;
   flex-direction: row;
   font-size: 3rem;
 }

 .sloupec {
   flex-direction: column;
   width: calc(100%/3);
 }

 .hlavni-recept {
   border-right: 0.1rem solid #ffffff;
   max-height: 70vh;
   background-size: auto;
 }

 .recept-nazev-hlavni{
  margin-top: 26rem;
 }

 .recept2,
 .recept3,
 .recept4,
 .recept5 {
   min-height: 35vh;
   min-width: 30vw;
 }
}
